*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  background-image: linear-gradient(#eaeaea 2px, transparent 2px),
    linear-gradient(to right, #eaeaea 2px, #fff 2px);
  background-size: 40px 40px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  color: #000;
  margin: 20px 0 40px 0;
}

.todo-app {
  background-color: #fff;
  width: 300px;
  height: 350px;
  border: 1px solid #000;
  box-shadow: 10px 10px #191919;
  border-radius: 8px;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  font-family: "Comfortaa", sans-serif;
  cursor: pointer;
  width: 100px;
  margin: 10px;
  padding: 10px;
  color: #000;
  background-color: #faa356;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 5px 5px #191919;
}

.edit-btn {
  background-color: #77bdfb;
}

.delete-btn,
#discard-btn {
  background-color: #fa7970;
}

.btn:active {
  transform: translate(1px, 1px);
  box-shadow: 4px 4px;
}

.large-btn {
  width: 80%;
  font-size: 1.2rem;
  align-self: center;
  justify-self: center;
}

.close-task-form-btn {
  display: flex;
  background: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 3px 3px #191919;
  cursor: pointer;
}

.close-task-form-btn:active {
  transform: translate(1px, 1px);
  box-shadow: 2px 2px #191919;
}

.close-icon {
  width: 20px;
  height: 20px;
}

.task-form {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 15px;
  width: 300px;
  height: 350px;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.task-form-header {
  display: flex;
  justify-content: flex-end;
}

.task-form-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.task-form-footer {
  display: flex;
  justify-content: center;
}

.task-form-label {
  display: block;
  font-family: "Comfortaa", sans-serif;
  margin-bottom: 5px;
  font-size: 1.3rem;
  font-weight: bold;
}

#title-input,
#date-input,
#description-input {
  display: block;
  font-family: "IBM Plex Mono", monospace;
  width: 100%;
  margin-bottom: 10px;
  padding: 2px;
  border: none;
  border-bottom: 1px solid #000;
}

#confirm-close-dialog {
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.confirm-close-dialog-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.discard-message-text {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 1.5rem;
}

#tasks-container {
  height: 100%;
  overflow-y: auto;
  font-family: "IBM Plex Mono", monospace;
}

.task {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 8px;
}

.hidden {
  display: none;
}

@media (min-width: 576px) {
  .todo-app,
  .task-form {
    width: 400px;
    height: 450px;
  }

  .task-form-label {
    font-size: 1.5rem;
  }

  #title-input,
  #date-input {
    height: 2rem;
  }

  #title-input,
  #date-input,
  #description-input {
    padding: 5px;
    margin-bottom: 20px;
  }
}
